body{
  margin: 0;
  position: relative;
}

/* LOADING */

#load{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
}

div#load img{
  width: 250px;
  height: 250px;
}

div#load progress#progress{
  width: 250px;
}


/* MENU */

#menu{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
}


div#screenGame{
  border: 1px solid #000;
  position: relative;
  margin: 15px auto;
}



div#Game{
  height: 500px;
  border: 1px solid;
  position: relative;
}

div#player{
  background-image: url(../images/Characters/gremoire_static.png);
  width: 64px;
  height: 64px;
  position: absolute;
}